@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: auto;
    max-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(127, 255, 212, 0.644);
}
main div{
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.459);
    padding: 20px;
    margin: 5px;
    text-align: justify;
    background-color: white;
}
main p {
    text-indent: 20px;
}
main h1{
    margin: auto;
}
h1#oq{
    color: white;
    background-color: red;
}
